.container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}

#ControlsIcon {
    width: 75px;
    height: 75px;
    max-width: 150px;
    max-height: 150px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 25px;
}
